version: '3.4'

services:

  photoproject-srvacts:
    build:
      context: .
      target: prod
    image: service-accounts
    ports:
      - 8081:8081
    environment:
      - SERVER_PORT=8081
      - MYSQL_URL=jdbc:mysql://photoproject-db/photoproject
    volumes:
      - ./:/app
    depends_on:
      - photoproject-db

  photoproject-db:
    image: mysql:8.0.23
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
      - MYSQL_USER=photoproject
      - MYSQL_PASSWORD=photoproject
      - MYSQL_DATABASE=photoproject
    volumes:
      - mysql_data:/var/lib/mysql
      - mysql_config:/etc/mysql/conf.d

volumes:
  mysql_data:
  mysql_config:
